$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting "coming soon" content */
.coming-soon {
    margin: 40px 0;
}

.coming-soon p + h4 {
    margin-top: 28px;
}

nav .navbar-nav {
    float: right;
}

.navbar-default .navbar-nav a {
    background: inherit;
    border-top: 4px solid transparent;
}

.navbar-default .navbar-nav a:hover,
.navbar-default .navbar-nav > .active > a:hover {
    background: inherit;
    border-top: 4px solid rgba(192, 192, 192, 0.75);
}

.navbar-default .navbar-nav > .active > a {
    background: inherit;
    border-top: 4px solid rgba(122, 215, 219, 1);
}

.navbar-nav {
    margin: 0 -11px;
}

.navbar-collapse {
    padding-right: 12px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: inherit;
}

/* Responsive: Phone browsers */
@media screen and (max-width: 767px) {
    body {
        padding-top: 0;
        padding-bottom: 0;
    }

    nav {
        margin-left: -20px;
        margin-right: -20px;
    }

    nav .navbar-nav {
        float: none;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus,
    {
        border-top: 0px;
        border-left: 4px solid rgba(192, 192, 192, 0.75);
    }

    .navbar-default .navbar-nav a {
        border-top: 0px;
        border-left: 4px solid transparent;
    }

    .navbar-default .navbar-nav a:hover,
    .navbar-default .navbar-nav a:focus {
        background: inherit;
        border-top: 0px;
        border-left: 4px solid rgba(192, 192, 192, 0.75);
    }

    .navbar-default .navbar-nav > .active > a {
        border-left: 4px solid rgba(122, 215, 219, 1);
    }

    .navbar-nav {
        margin: 0 -11px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .coming-soon,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    .navbar-nav > li > a {
        padding-top: 11px;
    }
}